/* -----------------------------------------------------------------------------
 * HEADER
 */

.c-header {
  $this:&;
  background-color: $f-color-neutral-shade-200;
  z-index: 90;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $f-color-neutral-shade-200;
    @include breakpoint(l) {
      display: none;

    }
  }


  &__wrap {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__logo {
    font-family: 'Lato';
    text-transform: uppercase;
    font-size:25px;
    font-weight: bold;
    color: red;
    z-index: 3;
    position: relative;
  }

  &__menu {
    @include breakpoint(l down) {
      position: absolute;
      background-color: $f-color-neutral-shade-200;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 16px;
      border-top: 1px solid $f-color-neutral-shade-400;
      transform: translateY(-200%);
      opacity: 0;
      transition: all .6s;
      z-index: 1;
    }
    @include breakpoint(l) {
      display: flex;
      align-items:center; //alinear vertical
      margin-left: auto;
    }


    &.is-active {
      opacity: 1;
      transform: translateY(0);
      transition: all .6s;
    }

  }

  &__list {
    @include reset-list;
    @include breakpoint(l) {
      display: flex;
    }
  }

  &__item {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    & + & {
      @include breakpoint(l down) {
        padding-top: 8px;
      }
      @include breakpoint (l) {
        padding-left: 24px;
      }
    }
  }

  &__link {

  }

  &__box {
    display: flex;  // Primero propiedades que siempre van a estar, segundo móvil, y el resto de movil hacia arriba
    justify-content: flex-end; // alinear horizontal flex
    @include breakpoint(l down) {
      border-top: 1px solid #eee; // borde responsive
      padding-top: 16px; // espacio superior desde el borde y contenido
      margin-top: 16px;
    }
    @include breakpoint(l) {
      border-left: 1px solid #eee;
      padding-left: 16px;
      margin-left: 16px;
    }
  }

  &__btn {
    @include reset-button;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__toggle-menu {
    @include reset-button;
    font-size: 32px;
    color: $f-color-primary;
    margin-left: auto;
    z-index: 3;
    position: relative;

    @include breakpoint(l) {
      display: none;
    }
  }

}