/* -----------------------------------------------------------------------------
 * ICON
 */

.c-special-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $f-color-neutral-shade-200;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__element {
    color: $f-color-primary;
    //hover
  }

}