/* -----------------------------------------------------------------------------
 * SEARCH
 */

.c-search {
  background-color: $f-color-neutral-shade-400;
  padding-top: 32px;
  padding-bottom: 32px;

  &__wrap {
    @include breakpoint(l) {
      display: flex;
    }
  }
  &__item {
    @include breakpoint(l) {
      flex-grow: 1; // que se repartan por igual el espacio disponible
      flex-basis: 0; // explicación en próxima clase
    }
    & + & {
      margin-top: 8px;
      @include breakpoint(l) {
        margin-top: 0;
      }
    }

  }
}
