/* -----------------------------------------------------------------------------
 * USER LINK
 */

.c-user-link {
    display: flex;
    align-items: center;
    color: $f-color-primary;
    min-width: 1px;
    &__img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 8px;
        display:block;
    }

    &__text {
      @include text-ellipsis;
    }
}