/* -----------------------------------------------------------------------------
 * INPUT
 */

.c-input {
  $this: &;
  &__wrapper {
    position: relative;
  }
  &__element {
    @include reset-input;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid $f-border-color-primary;
    height: 48px;
    background-color: #fff;
    &:focus {
      border-color: darken($f-border-color-primary, 15%);
    }
    &--has-icon {
      padding-left: 40px;
      &-right {
        padding-right: 40px;
      }
    }
  }
  &__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    &--right {
      left: auto;
      right: 16px;
    }
  }
  /*&.has-icon {
      #{$this} {
          &__element {
              padding-left:40px;
          }
      }

  }*/
}