/* -----------------------------------------------------------------------------
 * MAP
 */

.c-map {
  height: 380px;
  width: 100%;
  display: block;
  @include breakpoint (l) {
    height: 580px;
  }
}

