/* -----------------------------------------------------------------------------
 * COMPONENTS
 */

 .c-button {
    @include reset-button;
    background-color: $f-color-primary;
    color:#fff;
    padding: 8px 16px 12px 16px;
    border-radius: 6px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;

    &--square {
      border-radius: 0;
    }

    &--full {
      width: 100%;
    }
 }
