/* -----------------------------------------------------------------------------
 * CONFIG
 */

@import "settings/settings";
@import "foundations/foundations";
@import "tools/tools";


/* -----------------------------------------------------------------------------
 * VENDOR
 */

@import "vendor/vendor";


/* -----------------------------------------------------------------------------
 * BASES
 */

@import "generic/generic";
@import "elements/elements";


/* -----------------------------------------------------------------------------
 * ABSTRACTIONS
 */

@import "objects/objects";


/* -----------------------------------------------------------------------------
 * CONTENT
 */

@import "components/components";


/* -----------------------------------------------------------------------------
 * SCOPES
 */

@import "scopes/scopes";


/* -----------------------------------------------------------------------------
 * OVERRIDES
 */

@import "utilities/utilities";

/*.squares-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.square {
  width: 100px;
  height: 100px;
  background-color: #ccc;
}

.square:not(:last-child) {
  margin-right: 24px;
}*/

/*.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}*/

.square {
  border: 20px solid red;
  background-color: orange;
  width: 440px;
  height: 440px;
  margin: 200px auto;
  position: relative;
}

.square::before {
  border: 20px solid pink;
  width: 220px;
  height: 220px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: grey;
  content:"";
}

// GIBSON

.c-btn {
  @include reset-button;
  background-color: #42cae0;
  color: #fff;
  width:154px;
  height:48px;
  font-weight: bold;
  letter-spacing: 6px;
}

.c-title {
  font-size:50px;
  margin-left: auto;
  color: #f6563e;
}

.c-name {
  font-size:20px;
  letter-spacing: 6px;
  font-weight: 600;
  color: #e03a3e;
}

.c-date {
  font-size:15px;
  font-weight:300;
  color: #42cae0;
}



